<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="/auth/login" method="POST">
              <div class="">
                <h1 style="color: white">Login</h1>
                <hr>
                    <br>
                    <div class="col-3">
                        <label style="color: white" for="">Email</label>
                        <div>
                            <input type="text" name="username" value="">
                        </div>
                    </div>
                    <div class="col-3">
                        <label style="color: white" for="">Password</label>
                        <div>
                            <input type="password" name="password" value="">
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-small btn-primary" type="submit">Login</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>